body {
	background: url(../images/8.png);
	font: 1em Tahoma;
}

#wrapper {
	margin: 80px;
	perspective: 900px;
}

.info{
	position: absolute;
	margin: 120px 30px;
	font-size: 1.1em;
}

#cube {
	position: relative;
	width: 300px;
	height: 300px;
	transform-origin: 50% 50% -150px;
	transform-style: preserve-3d;
	margin: 100px auto;
}

.object{ /* Где содержится куб */
	width: 500px;
	height: 500px;
	background: #f0f0f0;
	border: 1px solid black;
	margin: -60px auto;
}

.side {
	width: 300px;
	height: 300px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
	position: absolute;
	border: 10px solid #fff;
	border-radius: 10px;
	font-size: 5em;
	color: #fff;
	line-height: 300px;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	transform-origin: 50% 50% -150px;
}

#side2 {
	transform: rotateY(90deg);
}

#side3 {
	transform: rotateY(180deg);
}

#side4 {
	transform: rotateY(-90deg);
}

#side5 {
	transform: rotateX(90deg);
}

#side6 {
	transform: rotateX(-90deg);
}

/* Отдельные стили */

.cont {
	top: 60px;
	right: -10px;
	width: 330px;
	height: 450px;
	border: 1px solid black;
	position: absolute;
}

.cont .obj1 {
	width: 60px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 40px;
}

.inline-obj1 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(255,0,0,.9), rgba(0,0,0,.7));
}

.color1{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(255,0,0,.9), rgba(0,0,0,.7));
}

.cont .obj2 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 40px;
}

.inline-obj2 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(1,18,255,.9), rgba(0,0,0,.7));
}

.color2{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(1,18,255,.9), rgba(0,0,0,.7));
}

.cont .obj3 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 40px;
}

.inline-obj3 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(255,255,0,.9), rgba(0,0,0,.7));
}

.color3{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(255,255,0,.9), rgba(0,0,0,.7));
}

.cont .obj4 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 40px;
}

.inline-obj4 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(33,255,0,.9), rgba(0,0,0,.7));
}

.color4{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(33,255,0,.9), rgba(0,0,0,.7));
}

.obj5 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 10px;
}

.inline-obj5 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(255,185,0,.9), rgba(0,0,0,.7));
}

.color5{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(255,185,0,.9), rgba(0,0,0,.7));
}

.obj6 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.inline-obj6 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(255,0,154,.9), rgba(0,0,0,.7));
}

.color6{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(255,0,154,.9), rgba(0,0,0,.7));
}

.obj7 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.inline-obj7 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(174,0,255,.9), rgba(0,0,0,.7));
}

.color7{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(174,0,255,.9), rgba(0,0,0,.7));
}

.obj8 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.inline-obj8 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(144,100,1,.9), rgba(0,0,0,.7));
}

.color8{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(144,100,1,.9), rgba(0,0,0,.7));
}

.obj9 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 10px;
}

.inline-obj9 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(120,1,6,.9), rgba(0,0,0,.7));
}

.color9{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(120,1,6,.9), rgba(0,0,0,.7));
}

.obj10 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.inline-obj10 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(1,24,120,.9), rgba(0,0,0,.7));
}

.color10{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(1,24,120,.9), rgba(0,0,0,.7));
}

.obj11 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.inline-obj11 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(1,255,255,.9), rgba(0,0,0,.7));
}

.color11{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(1,255,255,.9), rgba(0,0,0,.7));
}

.obj12 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.inline-obj12 {
	height: 60px;
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(1,255,182,.9), rgba(0,0,0,.7));
}

.color12{
	background: rgba(0,0,0,.3);
	background: radial-gradient(rgba(1,255,182,.9), rgba(0,0,0,.7));
}

.p1{
	position: absolute;
	margin-left: 20px;
}
